
<nav class="top-bar" data-topbar >
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://carlsaldanha.com" style='text-align:left' >Carl Saldanha</a></h1>
    </li>
        <li class="toggle-topbar" style='font-family:Mohave;color:#666'><a href="#">Menu</a></li>

  </ul>

  <section class="top-bar-section">
    
    <ul class="right">

      <li><a href="http://carlsaldanha.com/resume">Resume</a></li>
      <li><a href="http://carlsaldanha.com/projects">Projects</a></li>

      <li><a href="http://cjds.github.io/">Blog</a></li>
      </li>
    </ul>

  </section>
</nav>